<div class="sitemap"> 
        <span><a href="call_us/call_us.htm" title="Call us">Call us</a></span>
        <span>|</span>
        <span><a href="/sitemap/map.htm" title="Site map" target="_self">Site map</a></span>
        <span>|</span>
        <span><a href="accessibility/welcome.htm" title="Accessibility information" target="_self">Accessibility</a></span>
        <span>|</span>
        <span><a href="legal/security.htm" title="Security and privacy details" target="_self">Security and Privacy</a></span>
        <span>|</span>
        <span><a href="legal/terms.htm" title="Legal information" target="_self">Legal</a></span>
        <span>|</span>
        <span><a href="http://www.kubepartners.com" title="About First Commercial for Business (opens in new window)" target="_blank">About us</a></span>
        <span>|</span>
        <span><a href="javascript:openNewWindowURL('COPYRIGHT','link3007')" title="Copyright information (opens in new window)" target="_blank">&copy; 2003-2008 Orangery Technology Ltd</a></span>
</div>