<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<script src="../../../../../public/javascripts/jquery126pack.js" type="text/javascript"></script>
                <script src="../../../../../public/javascripts/jquery-ui152pack.js" type="text/javascript"></script>
		<script src="./date_input.js" type="text/javascript" type="text/javascript"></script>
		<link type="text/css" href="./date_input.css" rel="stylesheet"></link>
		<title></title>

	</head>
	<body class="Projects - Date Input">
            <input type="text" class="date_input" value="Click inside me to see a datepicker" style="width:300px;"/>
            <input type="text" class="daterange_input" value="Range datepicker starting on Monday." style="width:300px;"/>
	</body>
</html>
