<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <script src="../../../../../public/javascripts/jquery126pack.js" type="text/javascript"></script>
    <script src="./jquery.timeentry.pack.js" type="text/javascript" type="text/javascript"></script>
    <link type="text/css" href="./time_input.css" rel="stylesheet"></link>
    <script src="time_input.js" type="text/javascript"></script>
    <title>Time Input Test Page</title>
  </head>
  <body>
    <input type="text" class="time_input"/>
  </body>
</html>
