<div class="premium">
  <table class="premium-container">
    <tr>
      <td>        
        <span class="premium-headline"></span>
        <span class="premium-frequency"></span>
        <br/>
        <span><%= __('tax_statement') %></span>
      </td>
      <td>
        <%= body %>
      </td>
    </tr>
  </table>
</div>