        <div id="message_box">
            <span id="close_message" style="float:right;cursor:pointer; width: 20px; neight: 20px">&nbsp;</span>
            <div class="erbWrapper">The floating message goes here <div class="errorBox"></div></div>
            <div id="messages"></div>
        </div>
